from launch import LaunchDescription
from launch_ros.actions import Node

def generate_launch_description():
    return LaunchDescription([
        Node(
            package='sermonizer',
            executable='sermonizer',
            name='sermonizer',
            arguments=['--ros-args', '--log-level', 'info']
        ),
        Node(
            package='rqt_gui',
            executable='rqt_gui',
            name='head_ui',
        ),
        Node(
            package='joy_linux',
            executable='joy_linux_node',
            name='joystick_receiver',
            parameters=[
                {"dev_ff": ""},
                {"dev": "/dev/input/js0"},
                {"deadzone": 0.05},
                {"coalesce_interval": 0.05},
            ],
        ),
    ])
