[Unit]
Description=ROS core startup service for the RPi
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=ubuntu
ExecStart=/bin/bash roscore

[Install]
WantedBy=multi-user.target