<launch>
  <arg name="local_arduino" default="false"/>
  <arg name="log_outputs" default="true"/>

  <node pkg="rqt_gui" 
        type="rqt_gui" 
        name="head_ui" 
  />
  <node pkg="actionizer" 
        type="joy_actionizer" 
        name="joy_actionizer" 
  />
  <node pkg="joy" 
        type="joy_node" 
        name="joystick_receiver">
    
    <param name="dev_ff" value="" />
    <param name="dev" value="/dev/input/js0" />
    <param name="deadzone" value="0.05" />
    <param name="coalesce_interval" value="0.05" />
    <param name="pub_diagnostics" value="False" />
  </node>

  <node pkg="sermonizer" 
        type="sermonizer" 
        name="sermonizer" 
        ns="sermonizer" 
        args="--ros-args --log-level info"
        if="$(arg local_arduino)">

    <param name="serial_dev" value="/dev/ttyUSB0" />
    <param name="pitch_filt_gain_f32" value="0.025" />
    <param name="blink_period_f32" value="0.5" />
    <param name="pitch_filt_avg_len_f32" value="1.0" />
  </node>

  <node pkg="rosbag" 
        type="record" 
        name="log_node" 
        args="-a -O /home/david/ros1_ws/logs/stan_logs.bag"
        if="$(arg log_outputs)">
  </node>
</launch>