<library path="stan_if">
  <class name="StanUI" type="stan_if.rqt_stan_if.StanUI" base_class_type="rqt_gui_py::Plugin">
    <description>
      Stan user interface.
    </description>
    <qtgui>
      <!-- optional grouping...
      <group>
        <label>Group</label>
      </group>
      <group>
        <label>Subgroup</label>
      </group>
      -->
      <label>Stan User Interface</label>
      <icon type="theme">system-help</icon>
      <statustip>Stan user interface to run on a desktop.</statustip>
    </qtgui>
  </class>
</library>